.experienceBar {
    display: flex;
    max-width: 85%;
    margin-top: 20px;
    margin-left: 19.5%;
    margin-right: 16%;
    margin-bottom: 0.2%;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{ /* um nivel de div*/
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}

.experienceBar > div > div{ /* um nivel de div*/
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience{
    position: absolute;
    top:12px;
    transform: translateX(-50%); /* centraliza no eixo x baseado no tamanho*/
}

@media screen and (max-width: 700px){
    .experienceBar {
        display: flex;
        flex: 1;
        margin-left: 8%;
        margin-right: 8%;
        max-width: 98%; 
    } 
}

@media screen and (min-width: 1400px){
    .experienceBar {
        display: flex;
        flex: 1;
        margin-left: 25%;
        margin-right: 25%;
        max-width: 98%; 
    } 
}