.container{
    display: flex;
    flex:1;
    flex-direction: row;

    top: 0;
    position:fixed;
    opacity: 0;
    width: 100%;

    background: #231F20;
}
.container > div {
    flex: 1;
    flex-direction: row;

    top: 10;
    padding-bottom: 16px;
    align-items: center;
    opacity: 0.95;
}

.container div > img {
    flex:1;
    top: 13%;
    left: 2%;
    width: 45px;
    position: absolute;
}

.container > div > div{
    flex: 1;
    padding-left: 12%;
}