.container {
    height: 100%; /*viewport high, ocupa altura total do navegador */
    max-width: 992px;
    margin: 0 auto;
    margin-top: 10px;

    padding: 0.8rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;  
    display: grid;
    margin-top: 2.5%;
    grid-template-columns: 1fr 1fr; /* Duas colunas com tamanho por igual */
    gap: 6.25rem;
    align-content: center;
}

@media screen and (min-width: 1400px){
        .container section{
            margin-top: 10.5%;   
        }       
}

@media screen and (max-width: 700px){
    .container{
        padding: 0.4rem 2rem;
    }
    .container section{
        display: flex; 
        flex-direction: column;
        margin-top: 1rem;
        gap: 2rem;
    }       
}


